/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
:root {
  --red-color: #b33030;
  --white-color: #ffff;
  --main-gray: #303841;
  --main-blue: #45567d;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Body */
body {
  font-family: "Poppins", sans-serif;
}
/* body */
/* container */
.container {
  width: 95%;
  height: auto;
  margin: 0 auto;
}
/* Container */
/* navbar */
#navbar {
  width: 100%;
  background-color: var(--red-color);
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1;
}

#navbar > .container {
  display: flex;
  height: 100%;
  justify-content: end;
  align-items: center;
}

#navbar > .container ul {
  display: flex;
  width: 30%;
  height: 100%;
}
#navbar > .container ul li {
  list-style: none;
}

#navbar > .container ul li a {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 1.5rem;
  color: var(--white-color);
  font-size: 1.4em;
  transition: ease-in 0.5s;
}

#navbar > .container ul li a:hover {
  background-color: var(--main-blue);
}
/* navbar */

/* Welcome Section */
#welcome-section {
  margin-top: 80px;
  height: calc(100vh - 80px);
  width: 100%;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  color: var(--white-color);
}
#welcome-section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#welcome-section > .container h1 {
  font-size: 3em;
  margin-bottom: 10px;
}
#welcome-section > .container p {
  color: var(--red-color);
  font-size: 2em;
  font-style: italic;
}
/* Welcome Section */

/* Projects */
#projects {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: var(--main-blue);
}

#projects h2 {
  text-align: center;
  color: var(--white-color);
  font-weight: 600;
  font-size: 2em;
}

#projects .grid-project {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 100%;
  grid-gap: 4rem;
  max-width: 1280px;
}

#projects h2::after {
  content: "";
  display: block;
  width: 40%;
  margin: 0 auto;
  border-bottom: 2px solid var(--white-color);
}

#projects .grid-project .image-project {
  height: calc(100% - 2rem);
  width: 100%;
  object-fit: cover;
}

#projects .grid-project img {
  display: block;
}
#projects .grid-project > .project-tile > .project-title {
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--main-gray);
  border-radius: 0 0 5px 5px;
}

#projects .grid-project > .project-tile span {
  color: var(--main-gray);
  margin: 5px;
  font-weight: 600;
  transition: 0.8s;
}
#projects .grid-project a:hover .project-title span {
  color: var(--red-color);
}

#projects .grid-project > .project-tile > .project-title h3 {
  font-size: 1.2em;
  font-weight: 500;
}
#projects .container {
  text-align: center;
}

#projects .btn {
  margin: 50px auto;
  display: inline-block;
  padding: 10px 50px;
  background-color: var(--main-gray);
  color: var(--white-color);
  border-radius: 2px;
  transition: 0.5s ease-in-out;
}

#projects .btn > i {
  margin-left: 5px;
  transition: 0.5s ease-in-out;
}

#projects .btn:hover {
  background-color: var(--red-color);
}
#projects .btn:hover i {
  transform: translateX(5px);
}

/* Section Social-media */
#profile-link {
  background-color: var(--main-gray);
  padding: 80px 0;
  color: var(--white-color);
}

#profile-link > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#profile-link > .container h1 {
  margin-bottom: 10px;
  font-size: 3em;
  font-weight: 600;
}
#profile-link > .container p {
  margin-bottom: 25px;
  font-size: 1.2em;
  font-weight: 200;
  font-style: italic;
}

#profile-link .social-media {
  width: 100%;
}

#profile-link .social-media ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#profile-link .social-media ul li {
  list-style: none;
  margin: 0 20px;
  transition: transform 0.3s ease-out;
}
#profile-link .social-media ul li:hover {
  transform: translateY(10px);
}
#profile-link .social-media ul li a {
  color: var(--white-color);
  font-size: 1.4em;
  text-shadow: 2px 2px 1px #1f1f1f;
}

#profile-link .social-media ul li a i {
  margin-right: 5px;
}
